// VARIABLES

$text-color: #2b2b2b;  
$font-droidsans: 'DroidSans';

html {
    height: 100%;
}

body {
padding: 0;
margin: 0;
background-color: #ffffff;
height: 100%;
box-sizing: border-box;
font-family: $font-droidsans;
}

@font-face {
font-family: 'DroidSans';
src: url('../assets/DroidSans.ttf');
}


@font-face {
font-family: 'Comfortaa';
src: url('../assets/Comfortaa_Regular.ttf');
}


/*Global*/

.container {
width: 90%;
margin: auto;
overflow: hidden;
}

/*Header*/

header {
background: #ffffff;
padding-top: 15px;
min-height: 10vh;

    .grid-container {
        display: grid;
        /* flex-direction: row; */
        /* grid-template-columns: auto auto auto auto auto; */
        /* justify-content: space-between; */
        grid-template-columns: 15% 10% 15% 20%;
    }

    .flex-container  {
        display: flex;
        flex-direction: column;
        // position: relative;
    }

    .branding {
        font-family: 'Comfortaa';
        /* color:  rgba(0, 0, 0, 0.52); */
        color: $text-color;
        font-weight: 400;
        line-height: 18px;
        /* Approximation due to font substitution */
        text-align: left;
        transform: scaleX(1.0001);
        /* width and height properties ommitted due to transform */
    }
    div#one {
        // position: absolute;
        font-size: 37.18px;
        padding-top: 2%;
        width: 100%;
    }

    div#two {
        // position: absolute;
        font-size: 21.69px;
        // margin-top: 22%;
        // margin-left: 2%;
        // width: 100%;
        padding-top:3%; 
        padding-left: 40%;
    }

    #search{
        display: none;
    }

    img#searchImg {
        display: none;
    }

    p#searchText {
        display: none;
    }
}
   
header {
.nav {
    color: $text-color;
    font-size: 15.89px;
    /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px;
    /* Approximation due to font substitution */
    text-align: left;
    transform: scaleX(1.0001);
    /* width and height properties ommitted due to transform */
    margin: 0 30px;
    padding-top: 15px;
}
.button_2 {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(43, 43, 43, 80);
    box-sizing: border-box;
    background-color: #ffffff;
    width: 85%;
    color: #149075;
    font-size: 19.41px;
    /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px;
    /* Approximation due to font substitution */
    transform: scaleY(1.0003);
    /* width and height properties ommitted due to transform */
    border-radius: 4px;
    margin-left: 200%;
    margin-top: 2%;
}
}

/*Showcase*/

#showcase {
background: url(../assets/background-image.png) no-repeat 100%;
background-size: cover;
color: #fff;
min-height: 87.8vh;
max-width: 100%;
}
section#login_form {
    width: 35%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    padding: 1% 0 3% 2%;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.form_text {
    color: $text-color;
    text-align: left;
    transform: scaleX(1.0001);
    /* width and height properties ommitted due to transform */
    padding: 0;
    margin: 2% 0 0 0;

    &#text1 {
        font-size: 28.24px;
        /* Approximation due to font substitution */
        font-weight: 700;
        line-height: 49px;
        /* Approximation due to font substitution */
        margin-bottom: 2%;
    }
    &#text2 {
        font-size: 14.12px;
        /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 30px;
        /* Approximation due to font substitution */
        margin-bottom: 6%;
    }
    &#text3 {
        font-size: 22.07px;
        /* Approximation due to font substitution */
        font-weight: 700;
        line-height: 32px;
        /* Approximation due to font substitution */
        margin-left: 7%;
        margin-bottom: 3%;
    }
    &#text4 {
        font-size: 14.12px;
        /* Approximation due to font substitution */
        font-weight: 400;
        line-height: 30px;
        /* Approximation due to font substitution */
        text-align: center;
        margin-bottom: 3%;
    }
}

#showcase section#login_form {
.login input {
    width: 70%;
    padding: 5px;
    margin: auto;
    border: none;
    color: #212121;
    font-size: 14px;
    /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 25px;
    /* Approximation due to font substitution */
    text-align: left;
    margin-left: 7%;
    margin-top: 2%;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: solid 1px #ece1e1;
}
.button_1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(204, 204, 204, 50);
    box-sizing: border-box;
    background-color: #149075;
    /* width: 344px; */
    width: 80%;
    height: 49px;
    color: #ffffff;
    font-size: 17.65px;
    /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px;
    /* Approximation due to font substitution */
    text-align: center;
    transform: scaleY(1.0003);
    /* width and height properties ommitted due to transform */
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 4px;
}
}

/* Media queries */


@media screen and (max-width: 1055px){

    header{
        div#two {
            position: relative;
            /* font-size: 21.69px; */
            padding-top: 5%;
            padding-left: 50%;
            // margin-left: 200%;        
        }

        .nav{
            width: 100%;
        }
    }

    section#login_form{
        min-width: 40%;

        .form_text#text1 {
            padding: 0 3% 0 3%;
        }
    
        .form_text#text2 {
            padding: 0 3% 0 3%;
        }
        
    }
}

@media (max-width: 600px) {
    /*Header*/
    // .branding {
    //     margin-top: 10%;
        
    header {

        div#two {
            position: relative;
            /* font-size: 21.69px; */
            padding-top: 7%;
            padding-left: 90%;
            // margin-left: 200%;        
        }
    
        .nav {
        display: none;
        }


        img#searchImg {
            position: relative;
            display: block;
            margin: 30% 0 0 250%;
            }
        
        p#searchText {
            display: block;
            position: relative;
            margin: 20% 0 0 120px;
            color: $text-color;
            font-size: 13.84px;
            /* Approximation due to font substitution */
            font-weight: 400;
            line-height: 18px;
            /* Approximation due to font substitution */
            text-align: left;
            transform: scaleY(1.0117);
            /* width and height properties ommitted due to transform */
            width: 100%;           
        }
    
        
    
        .button_2 {
        width: 180%;
        margin-left: 120%;
        border-width: 1px;
        border-radius: 5px;
        }
    }
    /*Showcase*/
    section#login_form {
        position: absolute;
        bottom: 2%;
        width: 90%;
        /* margin: auto; */
        box-sizing: border-box;
        /* align-self: auto; */
        /* padding: 1% 0 3% 1%; */
        position: absolute;
        top: 52%;
        left: 14%;
        transform: translate(-10%, -2%);
    
            .form_text#text1 {
            padding: 0 3% 0 3%;
            }
    
            .form_text#text2 {
                padding: 0 3% 0 3%;
            }
        }
    
        section#login_form .login input, .form_text#text3 {
            display: none;
        }
    
        section#login_form .login .button_1 {
            margin: auto;
            width: 70%;
            display: block;
            box-sizing: border-box;
        }
    }
    

@media(max-width: 480px) {

    header{

        div#two {
            /* font-size: 21.69px; */
            padding-top: 7%;
            padding-left: 110%;
            position: relative;
        }

        img#searchImg {
            position: relative;
            display: block;
            margin: 30% 0 0 200%;
        }

        p#searchText{
            display: block;
            position: relative;
            margin: 20% 0 0 120%;;

            color: $text-color;
            font-size: 13.84px;
            /* Approximation due to font substitution */
            font-weight: 400;
            line-height: 18px;
            /* Approximation due to font substitution */
            text-align: left;
            transform: scaleY(1.0117);
            /* width and height properties ommitted due to transform */
            width: 200%;
        }
    }
} 